<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>

<body>
<h1>数据库测试</h1>
<form th:action="@{/sql}">
    数据库IP：<input id="sqlIp" type="text" name="sqlIp"><br>
    数据库端口号(本地用localhost)：<input id="sqlPort" type="text" name="sqlPort"><br>
    自定义数据库URL:<input id="sqlUrl" type="text" name="sqlUrl"><br>
    数据库username:<input type="text" name="sqlUsername"><br>
    数据库Password:<input type="text" name="sqlPassword"><br>

    包名：<input type="text" name="packageName"><br>
    类名：<input type="text" name="className"><br>
    作者：<input type="text" name="author"><br>

    <input onclick="checkUrl" type="submit" value="提交">
</form>
</body>

</html>